<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog/nlog-window.log">

    <variable name="logDirectory" value="${specialfolder:folder=MyDocuments}/Test/logs" />

    <extensions>
        <add assembly="Net.Utilities.Nlog" />
    </extensions>

    <targets async="true">
        <target xsi:type="Html" name="targetHtml"
                dateTime="${longdate}"
                version="${assembly-version}"
                logger="${logger}"
                thread="${threadname:whenEmpty=${threadid}}"
                callSite="${callsite:methodName=true}.${callsite-linenumber}"
                stackTrace="${stacktrace}"
                exception="${exception:format=tostring}"
                fileName="${logDirectory}-html/${logger}/${shortdate}/${logger}-${date:format=yyyyMMddHHmmssfffff}.html" />
        <target xsi:type="File" name="allFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="10" maxArchiveDays="7"
                fileName="${logDirectory}/all/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[当前类名] ${logger}
					   ${newline}[当前行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[当前描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
        <target xsi:type="RichTextBox" name="richTextBoxMainLogForm"
                layout="[${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:uppercase=true}] ${htmlViewLayout}${onexception: \: ${exception:format=message}}"
                controlName="txtLog" formName="MainLogForm" autoScroll="true" maxLines="100"
                allowAccessoryFormCreation="false" messageRetention="OnlyMissed" useDefaultRowColoringRules="true">
            <row-coloring condition="level == LogLevel.Fatal" fontColor="DarkRed" />
            <row-coloring condition="level == LogLevel.Error" fontColor="Red" />
            <row-coloring condition="level == LogLevel.Warn" fontColor="Peru" />
            <row-coloring condition="level == LogLevel.Info" fontColor="Blue" />
            <row-coloring condition="level == LogLevel.Debug" fontColor="Black" />
            <row-coloring condition="level == LogLevel.Trace" fontColor="Gray" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="allFileAppender" />
        <logger name='*' minlevel="Trace" maxlevel="Fatal" writeTo='targetHtml' />
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="richTextBoxMainLogForm" />
    </rules>
</nlog>